*pytest*
*.egg-info
*output*
*.log
**/__pycache__/
outputs/
scoring_results/
sh/my*
sh/test*
vllm_version_test/test*
acc_folder*/
scoring*.py
arxiv_exp/test*

converted/
models/
logs/
outputs/

**/build/
*.so

# UV virtual environments and cache
.venv/
venv/
.uv/
.venv_infer
.cache/uv/

*.md
!README.md
.cuda_build